services:
  db:
    container_name: intertidal_db
    image: postgis/postgis:18-3.6
    # postgis only supports the linux/amd64 platform
    platform: linux/amd64
    ports:
      - "15432:5432"
    volumes:
      - .data/postgres:/var/lib/postgresql
    environment:
      POSTGRES_DB: intertidal
      POSTGRES_USER: intertidal
      POSTGRES_PASSWORD: password
    healthcheck:
      test: pg_isready -U intertidal -d intertidal && psql -U intertidal -d intertidal -c 'SELECT 1;' || exit 1
      interval: 2s
      retries: 120

  nginx:
    container_name: intertidal_nginx
    image: nginx:1.29-alpine
    volumes:
      # config
      - ./docker/nginx.conf:/etc/nginx/nginx.conf
      # mount app media and static content
      - .data/media:/media:ro
      # - .data/static:/static:ro # do not mount in development mode
    ports:
      - "8080:80"
    healthcheck:
      test: service nginx status || exit 1
      interval: 2s
      retries: 120
    depends_on:
      app:
        condition: service_healthy

  vite:
    container_name: intertidal_vite
    build:
      context: .
      target: intertidal-vite
    command: yarn dev
    ports:
      - "5173:5173"
    volumes:
      # code for development
      - ./intertidal_vite:/app

      # use the container's node_modules folders (don't override with local dev)
      - /app/node_modules

  app:
    container_name: intertidal_app
    # image: ghcr.io/sfu-dhil/intertidal
    build:
      context: .
      target: intertidal
    ports:
      - "8888:80"
    volumes:
      # code for development
      - .:/app

      # files uploads
      - .data/media:/media
      # large static-assets
      - .data/static-assets:/static-assets

      # # persist static outside of container so it can be shared with nginx
      # - .data/static:/app/static # do not mount in development mode
      # use the container's node_modules folders (don't override with local dev)
      - /app/node_modules
    environment:
      DEBUG: True
      DB_HOST: db
      DB_NAME: intertidal
      DB_USER: intertidal
      DB_PASSWORD: password
      EMAIL_HOST: mail
      EMAIL_HOST_USER: intertidal
      EMAIL_HOST_PASSWORD: password
      MEDIA_FOLDER_UID: 101
      MEDIA_FOLDER_GID: 101
      GUNICORN_RELOAD: True
    healthcheck:
      test: curl --fail http://localhost/health_check/ || exit 1
      interval: 2s
      retries: 120
    depends_on:
      db:
        condition: service_healthy

  mail:
    container_name: intertidal_mail
    image: jcalonso/mailhog:v1.0.1
    ports:
      - "8025:8025"