{% extends "base.html" %}
{% load static %}
{% load django_vite %}

{% block javascript %}
    {% vite_asset 'shikwasa_player_app.js' crossorigin="" %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4 fw-bolder my-5">Intertidal</h1>
        <div class="row align-items-stretch gx-5 justify-content-center mb-4">
            <div class="col-md-12 col-lg-8">
                <p class="lead fw-normal mb-4">
                    My work comes to you from the intertidal zones of Singapore, Hong Kong, and Vancouver.
                    From the human and nonhuman voices that exist in relation with beaches, ports, harbours, swamps, wetlands, and dykes.
                    These are space of flux, ecological richness, nationalist and capitalist infrastructure, complex histories, and environmental devastation.
                    Each of these sites, whether island, continent edge, or archipelago shares the common histories of imperialism, development, land reclamation, and dispossession.
                    By reading and listening intently to these spaces, I seek to represent and reimagine these spaces in decolonial ways.
                </p>
            </div>
            <div class="col-md-12 col-lg-4">
            </div>
            <div class="col-md-12 col-lg-4">
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="shikwasa-player-app" data-src="{% static 'audio/intertidal_draft_ambient_soundscape.ogg' %}" data-title="Intertidal Ambient Soundscape" data-chapters-json="{{ chapters_json|escape }}"></div>
            </div>
        </div>

        {% include 'mockup/_includes/mock_map.html' %}
        {% include 'mockup/_includes/mock_resources_list.html' %}
    </div>
{% endblock %}

{% block backdrop_media_app %}
    {% static 'videos/backdrop_test_1/master.mpd' as video_src %}
    {% with backdrop_video_src=video_src %}
        {{ block.super }}
    {% endwith %}
{% endblock %}