{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load django_vite %}

{% block content %}
    <div class="container">
        <h1>{{ object.name }}</h1>
        {% for alternative_name in object.alternative_names %}
            <div class="h6">{{ alternative_name }}</div>
        {% endfor %}
        <hr />

        {% if object.audios.all|length > 0 %}
            {% for audio in object.audios.all %}
                <div class="audio-transcript-player-app" data-url="{{ audio.audio.url }}" data-title="{{ audio.name }}" data-transcripts="{{ audio.transcript|escape }}"></div>
            {% endfor %}
        {% endif %}

        {% if object.get_unique_person_contributors|length > 0 %}
            {% for person in object.get_unique_person_contributors %}
                <div class="card mb-3" id="person_{{ person.id }}">
                    <div class="row g-0">
                        {% if person.image and person.thumbnail %}
                        <div class="col-md-3 image-app" data-image="{{ person.image.url }}" data-thumbnail="{{ person.thumbnail.url }}" data-label="{{ person.fullname|escape }}" data-class="img-fluid rounded-start object-fit-cover">
                            {% comment %} <img src="{{ person.thumbnail.url }}" class="" alt="{{ person.fullname|escape }}"> {% endcomment %}
                        </div>
                        {% endif %}
                        <div class="{% if person.thumbnail %}col-md-9{% endif %}">
                            <div class="card-body">
                                <figure>
                                    <blockquote class="blockquote">
                                        <h2 class="h1 card-title">{{ person.fullname }}</h2>
                                        {% for alternative_name in person.alternative_names %}
                                            <figcaption class="blockquote-footer">{{ alternative_name }}</figcaption>
                                        {% endfor %}
                                    </blockquote>
                                </figure>
                                <div class="card-text mt-3">{{ person.bio|safe }}</div>
                                {% if person.links|length > 0 %}
                                <div class="card-text mt-3">
                                    <div class="fw-bold">Links</div>
                                    {% for link in person.links %}
                                        <a target="_blank" href="{{ link }}">{{ link }}</a><br />
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="card mb-5">
            <div class="card-header">Details</div>
            <ul class="list-group list-group-flush">
                {% if object.locale %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Locale</div>
                        <span class="badge text-bg-primary">{{ object.get_locale_choice.label }}</span>
                    </li>
                {% endif %}
                {% if object.language %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Language</div>
                        <span class="badge text-bg-primary">{{ resource.language|language_name }}</span>
                    </li>
                {% endif %}
                {% if object.date %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Date</div>
                        {{ object.date }}
                        {% if object.date_current %}
                            to now
                        {% elif object.date_end %}
                            to {{ object.date_end }}
                        {% endif %}
                    </li>
                {% endif %}
                {% if object.get_category_choices|length > 0 %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Categories</div>
                        {% for category_choice in object.get_category_choices %}
                            <span class="badge text-bg-primary">{{ category_choice.label }}</span>
                        {% endfor %}
                    </li>
                {% endif %}
                {% if object.get_form_choices|length > 0 %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Physical/Digital Forms</div>
                        {% for form_choice in object.get_form_choices %}
                            <span class="badge text-bg-primary">{{ form_choice.label }}</span>
                        {% endfor %}
                    </li>
                {% endif %}
                {% if object.keywords|length > 0 %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Keywords</div>
                        {% for keyword in object.keywords %}
                            <span class="badge text-bg-primary">{{ keyword }}</span>
                        {% endfor %}
                    </li>
                {% endif %}
                {% if object.description %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Description</div>
                        {{ object.description|safe }}
                    </li>
                {% endif %}
                {% if object.links|length > 0 %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Links</div>
                        {% for link in object.links %}
                            <a target="_blank" href="{{ link }}">{{ link }}</a><br />
                        {% endfor %}
                    </li>
                {% endif %}
                {% if object.get_contributors|length > 0 %}
                    <li class="list-group-item list-group-item-action">
                        <div class="fw-bold">Contributors</div>
                        {% for contributor in object.get_contributors %}
                            {% include "_includes/contributor.html" with contributor=contributor %}
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if object.images.all|length > 0 %}
            <h2 class="h3">Images</h2>
            <div class="image-gallery-app" data-images-json="{{ images_json|escape }}"></div>
        {% endif %}
    </div>
{% endblock %}

{% block backdrop_media_app %}
    {% static 'videos/backdrop/master.mpd' as video_src %}
    {% with backdrop_video_src=video_src %}
        {{ block.super }}
    {% endwith %}
{% endblock %}