{% load static %}
{% load django_bootstrap5 %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />
        <title>Intertidal</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

        {% vite_hmr_client %}
        <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" />
        <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/fontawesome.min.css' %}" />
        <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/solid.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        {% block styles %}
        {% endblock %}

        <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-grow-1 py-5 z-1 position-relative bg-transparent">
            {% bootstrap_messages %}

            {% block content %}
            {% endblock %}
        </main>
        <footer class="py-4 flex-shrink-0 z-2 position-relative bg-transparent">
            <div class="container px-5">
                <hr />
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <div class="small m-0 text-white">Intertidal</div>
                    </div>
                    <div class="col-auto">
                        <a class="link-light small" href="https://docs.dhil.lib.sfu.ca/privacy.html" target="_blank">Privacy</a>
                        {% if GIT_REPO_LINK and GIT_REPO_LINK_TEXT %}
                            <span class="text-white mx-1">&middot;</span>
                            <a class="link-light small" target="_blank" href="{{ GIT_REPO_LINK }}">{{ GIT_REPO_LINK_TEXT }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </footer>
        {% block backdrop_media_app %}
            {% if backdrop_video_src or backdrop_image_src %}
                <div id="backdrop-media-app" class="position-fixed top-0 bottom-0 start-0 end-0 z-0 bg-secondary-subtle" data-video-src="{{ backdrop_video_src }}" data-image-src="{{ backdrop_image_src }}"></div>
                {% vite_asset 'backdrop_media_app.js' crossorigin="" %}
            {% else %}
                <div class="position-absolute top-0 bottom-0 start-0 end-0 z-0 bg-secondary-subtle"></div>
            {% endif %}
        {% endblock %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>
