{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />
        <title>Intertidal</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>
